/* css section recommend */

/* todo banner css */
.recommend-banner {
  width: 100%;
  height: 80vh;
}

.recommend-banner .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 150px;
  overflow: hidden;
}

.recommend-banner .bg {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.recommend-banner img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.banner-box {
  width: 50%;
  height: 100%;
}

.box-right {
  width: 100%;
  height: 50%;
}

.box-top {
  display: flex;
}

.box-top2 {
  width: 50%;
  height: 100%;
}

.recommend-banner .tittle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: all 0.5s;
  flex-direction: column;
  text-transform: capitalize;
  color: #fff;
  background-size: cover;
}

.recommend-banner .tittle p {
  font-size: 27px;
  font-weight: bold;
}

.recommend-banner .tittle a {
  font-size: 20px;
  visibility: hidden;
  color: #fff;
}

.recommend-banner .bg:hover img {
  transform: scale(1.2);
}

.recommend-banner .bg:hover .tittle a {
  visibility: visible;
}

.recommend-banner .bg:hover .tittle {
  width: 80%;
  height: 80%;
  background: rgba(3, 3, 3, 0.5);
}

/* todo slider css */

.recommend-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.full {
  width: 100%;
  height: 100%;
}

.recommend-slider > .container > .slide-item:last-child {
  background: red;
}

.recommend-slider > .container > .slide-item > .img > img {
  width: 100%;
  height: 100%;
}

.slide-item {
  transform: translateX(0%);
  position: absolute;
  top: 0;
  left: 0;
}

.slide-item .content {
  position: absolute;
  top: 45%;
  left: 5%;
  text-align: center;
  transform: translateY(0%);
}

.slide-item .content p {
  font-size: 80px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

.recommend-slider .next-pre {
  position: absolute;
  top: 85%;
  left: 10%;
  display: flex;
  font-size: 35px;
}

.next-pre > .node {
  padding: 0 20px;
}

.next-pre span:first-child {
  font-weight: bold;
}

.next-active {
  animation: next-show 0.8s forwards;
}

@keyframes next-show {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.next-active1 {
  animation: next-show1 0.8s forwards;
}

@keyframes next-show1 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.pre-active {
  animation: pre-show 0.8s forwards;
}

@keyframes pre-show {
  /* chuyen dong tu phai vao khung hinh */
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.pre-active1 {
  animation: pre-show1 0.8s forwards;
}

@keyframes pre-show1 {
  /* chuyen dong tu phai vao khung hinh */
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.up {
  animation: up 0.8s ease-in-out forwards;
}

@keyframes up {
  /* chuyen dong tu phai vao khung hinh */
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.down {
  animation: down 0.8s ease-in-out forwards;
}

@keyframes down {
  /* chuyen dong tu phai vao khung hinh */
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* todo css of trending section */
.trending .container {
  width: 100%;
}

.section-tittle {
  width: 100%;
}

.section-tittle .content {
  flex-direction: column;
  padding: 10px 30px;
}

.section-tittle span {
  width: 100px;
  height: 2px;
  background: #000;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 55vh) auto;
  grid-gap: 30px;
  /* grid-gap tự động pading top bottom l r của phần tử grid */
  padding: 50px 150px;
}

.col {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.col:hover .product-img .img2 {
  display: block;
}

.col:hover .product-img .img2 img {
  animation: scale 0.7s linear forwards;
}

@keyframes scale {
  100% {
    transform: scale(1.1);
  }
}

.product-img {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.product-img img {
  width: 100%;
  height: 100%;
  background: transparent;
  background-size: cover;
}

.product-img .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  transition: all 0.7s linear;
}

.product-img .img2 {
  display: none;
  z-index: 3;
}

.product-info {
  width: 100%;
  height: 20%;
}

.product-info .pr-name a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  font-weight: 700;
}

.product-info .pr-name a:hover {
  color: #56cfe1;
}

.product-info .pr-price {
  letter-spacing: 3px;
  display: flex;
  padding: 5px 0;
  font-size: 20px;
}

.product-info .pr-price .cost {
  text-decoration: line-through;
  color: #616161;
  padding-right: 10px;
}

.product-info .pr-price .pr-sale {
  color: #f44336;
}

.hover-button {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  z-index: 9;
}
.product-img:hover .hover-button {
  top: 50%;
  visibility: visible;
  opacity: 1;
}
.wishlist {
  position: absolute;
  top: 5%;
  left: 5%;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  color: #ffffff;
}
.product-img:hover .wishlist {
  visibility: visible;
  opacity: 1;
}
.hover-button .bt {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  background: #fff;
  margin: 5px 0;
  padding: 10px 40px;
  border-radius: 80px;
  color: #000;
  transition: all 0.2s linear;
  width: 125px;
  height: 40px;
  overflow: hidden;
}
.hover-button .bt:hover {
  background: #000;
}
.hover-button .bt span:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
  transform: translate(-50%, -50%);
}
.hover-button > .bt:hover > span:first-child {
  transform: translate(-50%, -150%);
}

.hover-button .bt .bt-icon {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  transition: all 0.2s linear;
  color: #fff;
  font-size: 20px;
}
.hover-button > .bt:hover > .bt-icon {
  transform: translate(-50%, -100%);
}
.button-show-product {
  width: 100%;
  grid-column: 1/5;
}

.button-show-product button {
  border: 2px solid #000;
  border-radius: 50px;
  padding: 10px 20px;
  color: #000;
  background: #ffffff;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}

.button-show-product button:hover {
  background: #000;
  color: #fff;
}

.trending .container .sub-products {
  display: none;
}

.set-row-product {
  grid-template-rows: repeat(4, 55vh);
}

.dn {
  display: none;
}

/* css section recommend */
